@page "{country?}"
@model Index

@{
    if (Model.Search == null)
    {
        ViewData["Title"] = "Country not found";
    }
    else
    {
        ViewData["Title"] = $"PropPunk {Model.Search.ShortName}";
    }
}

@if (Model.Search is { } country)
{
    <h1>[@country.ShortName] @country.Name</h1>
    <h5>Owner: PLACEHOLDER</h5>
    <a asp-page="/countries" class="btn btn-primary"><i class="fa fa-edit"></i>Return to countries list</a>
    //TODO if user owns this country or has country edit permissions
    <a asp-page="/country/panel" asp-route-country="@country.Id" class="btn btn-primary"><i class="fa fa-edit"></i>Open panel</a>
}
else
{
    <h1>Country not found</h1>
    <a asp-page="/countries" class="btn btn-primary"><i class="fa fa-edit"></i>Return to countries list</a>
}
