@page "{country?}"
@model Panel
@{
    if (Model.Search == null)
    {
        ViewData["Title"] = "Country not found";
    }
    else
    {
        ViewData["Title"] = $"PropPunk {Model.Search.ShortName}";
    }
    @if (Model.Search is { } country)
    {
        <h1>[@country.ShortName] @country.Name Panel</h1>
        <!--Page redirect-->
        <a asp-page="/country/index" asp-route-country="@country.Id" class="btn btn-primary"><i class="fa fa-edit"></i>Return to country</a>
    }
    else
    {
        <h1>Country not found</h1>
        <!--Page redirect-->
        <a asp-page="/country/list" class="btn btn-primary"><i class="fa fa-edit"></i>Return to countries list</a>
    }
}
