@page "{country?}"
@model CountryAppLandingIndex

@{
    ViewData["Title"] = "PropPunk Country Application:";
}

@if (Model.ApplicationsOpen)
{
    @if (Model.CountryApp == null)
    {
        <h1>Country Applications are open!</h1>
        <a asp-page="/country/list" class="btn btn-primary"><i class="fa fa-edit"></i>Create Application</a>
    }
    else
    {
        <h1>Country Applications are open!</h1>
        <h2>You have an outstanding application:</h2>
        if (!Model.CountryApp.Locked)
        {
            <a asp-page="/country/list" class="btn btn-primary"><i class="fa fa-edit"></i>Edit Application</a>
            <h4>Warning there is no confirmation for deleting your application!</h4>
            <a asp-page="/country/list" class="btn btn-primary"><i class="fa fa-edit"></i>Delete Application</a>
        }
        else
        {
            if (!Model.CountryApp.Approved)
            {
                <h2>Your application was approved!</h2>
            }
            <h3>Your application has been locked, Please talk to a moderator!</h3>
        }

        //TODO confirmation popup for deleting a country application
    }
}
else
{
    <h1>Country Applications are currently closed!</h1>
    <h2>Application openings are announced on the discord server.</h2>
}
