@page
@model AboutModel
@{
    ViewData["Title"] = "What is this?";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>PropPunk is a collaborative role-playing/world-building universe created by Messier82. In PropPunk players can roleplay
        as nation states or corporations in the world of Atera. The timeline starts in 1947 just after the events of the GreatWar,
        a major conflict most equivalent to a combination of WW1 and WW2.
    </p>
    <p>The main difference of the timeline is a stunted development of jet engine technologies, with most nations utilizing
        prop or turboprop aircraft way later than in our world (hense the name PropPunk)</p>
    <p>If you wish to get involved in the community you can <a href="https://discord.gg/messier82">join Messier82's discord!</a></p>
    <p>Please note that if you want to contribute you must be a member of the discord server!</p>
    </div>
