@page
@model CountriesPage
@{
    ViewData["Title"] = "Country Registry";
}
<h1>@ViewData["Title"]</h1>
@* TODO: hide this is applications are closed *@
<p>Country applications are OPEN, if you wish to apply for a country login and check the applications page for more info!</p>
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <div>Name</div>
                                </th>
                                <th>
                                    <div>Tag</div>
                                </th>
                                <th>
                                    <div>GovernmentType</div>
                                </th>
                                <th>
                                    <div>Population</div>
                                </th>
                                <th>
                                    <div>GDP</div>
                                </th>
                                <th>
                                    <div>Happiness</div>
                                </th>
                                <th>
                                    <div>Education</div>
                                </th>
                            </tr>
                        </thead>
    </table>
</div>
